
.wrapper-faq {
    max-width: 100%;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/faqTriangles.png');
    background-repeat:repeat-x;
    background-size:contain;
}
.faq .intro-text {
    min-width: min-content;
}

.faq-title {
    padding: 2%;
    width: 80%;
    min-width: min-content;
}

.faq-title .title{
    min-width: min-content;
}
 

.question-container {
    margin: 0 auto;
}

.qa-row {
    margin: 0 auto;
    max-width: fit-content;
}

.map-border2.faq-border {
    min-width: 100%;
}

button.question {
    font-size: 40px;
    text-align: center;
}
p.answer {
    font-size: 25px;
    text-shadow: none;
}
.accordion-item {
    border-radius: 200px;
    margin: 20px;
    padding: 20px;
}

h2.accordion-header button{
    padding: none;
}